/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D5DBDB;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

header h2 {
   font-size: 24px; 
}

nav ul {
   display:flex; 
   list-style-type:none; 
}

nav ul li{
   margin-right :20px; 
}

nav ul li a{
   color:#fff; 
   text-decoration:none; 
   font-weight:bold; 
   padding :10px 20px ;  
   background-color:#4CAF50 ;  
   border-radius :5px ;  
   
}
nav ul li a:hover{
background-color:#555 ;
}

/* Agregando más estilos para mejorar la apariencia */
h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #4CAF50;
}

p {
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

