body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Agregado para centrar el botón */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: center;
    color: #333;
}
table {
    width: 100%;
}
table tr td {
    padding: 10px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}
button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: black;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    width: 100%;
    cursor: pointer;
    margin: auto;
    display: block;
}
button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}
button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

